*{
  margin:0;
  padding:0;
}
.header{
  display:flex;
  padding: 20px 20px;
  box-sizing: border-box;
  width: auto;
}
.inner{
  font:bold;
  display: flex;
  width:100%; 
}
a{
  color:darkblue;
  text-decoration-line: none;

}

.header__left{
  text-align:left;
  font-size: 25px;
  width: 100%;
}
.header-nav{
width:100%;
}
.header__right{
  display: flex;
  justify-content: end;
  list-style: none;
  text-align: right;
}
.header-nav-item{
  display: inline;
  font-size: 20px;
  margin-left: 20px;
}
.main{
  position: relative;
  padding-top: 100px;
  height: 52vh;
  width: 100vw;

}
.lerative__img1{
  position: relative;

}
.image-1{
  position:absolute;
  right:0px;
  top:0px;
  width: 50%;
  z-index: 1;
}
.absolute__text{
  position:absolute;
  top: 85%;
  font-size:55px;
  font-weight: lighter;
}
.absolute__img2{
  position: absolute;
  top:95%;
  background-color:darkblue;
  width: 80%;
  height: 30%;
}