*{
  margin:0;
  padding:0;
}
.header{
  display:flex;
  padding: 20px 20px;
  box-sizing: border-box;
}
.inner{
  font:bold;
  display: flex;
  width:100%; 
}
a{
  color:darkblue;
  text-decoration-line: none;

}

.header__left{
  text-align:left;
  font-size: 25px;
  width: 100%;
}
.header-nav{
justify-content:end;
width:50%;
}
.header__right{
  display: flex;
  list-style: none;
  margin-right:auto;
}
.header-nav-item{
  font-size: 20px;
  margin-left: 40px;
}
.main{
  width: 100%;
  height:100%;
  padding-top: 100px;
}
.lerative__img1{
display:block;
margin: 0px 0px 0px auto;
}